@model List<SignalRWebUI.Dtos.SocialMediaDtos.ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid">
    <h4 class="page-title">Sosyal Medyalar</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Sosyal Medya Listesi</div>
                </div>
                <div class="card-body">
                    <div class="card-sub">
                        Sosyal Medya işlemleri buradan gerçekleştirilir.
                    </div>
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Sosyal Medya</th>
                                <th scope="col">İkon</th>
                                <th scope="col">Url</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0) {
                                @foreach (var item in Model)
                                {
                                    // var fullUrlInstagram = "https://www.instagram.com/" + @item.Url;

                                    <tr>
                                        <td>@item.SocialMediaID</td>
                                        <td>@item.Title</td>
                                        <td>@item.Icon</td>
                                        <td><a href="@item.Url" target="_blank" ><i class="fa-solid fa-eye"></i> Buraya Tıkla</a></td>
                                        @if (item.Status == true)
                                        {
                                            <td style="color:green">Aktif</td>
                                        }
                                        else
                                        {
                                            <td style="color:red">Pasif</td>
                                        }
                                        <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">Sil</a></td>
                                        <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-success">Güncelle</a></td>
                                    </tr>
                                }
                            }
                            else {
                                <tr>
                                    <td colspan="6" style="color: red; font-size:14px">Sosyal medya yok veya db bağlantısı reddedildi.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/SocialMedia/CreateSocialMedia" class="btn btn-outline-primary">Sosyal Medya Ekle</a>
                </div>
            </div>
        </div>

    </div>
</div>